<!DOCTYPE html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css'
        rel='stylesheet'
        integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC'
        crossorigin='anonymous'>

    <!-- Vue 3 -->
    <script src='https://cdn.jsdelivr.net/npm/vue@3.0.2/dist/vue.global.js'></script>
    <!-- Vue 3: production version, optimized for size and speed -->
    <!-- <script src='https://cdn.jsdelivr.net/npm/vue@3.0.2/dist/vue.global.prod.js'></script> -->


</head>

<body>
    <div id="app" class="container">
        <h1>DriveWhere</h1>
        <div class="row" v-show="!orderPlaced">
            <div id="main" class="col-8">
                Search by userId: <input v-model="userId" placeholder="user ID">
                <button @click="findUser()" type="button"
                    class="my-1 btn btn-sm btn-primary">Search</button><br>

                <table class="table table-striped" v-if="hasUsers">
                    <!-- <table class="table table-striped"> -->
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>UserId</th>
                            <th>Email Address</th>
                            <th>Phone Number</th>
                        </tr>
                        <tr v-for="book in books">
                            <td>{{ user.name }}</td>
                            <td>{{ user.userId }}</td>
                            <td>{{ user.emailAddress }}</td>
                            <td>{{ user.phoneNum }}</td>

                        </tr>
                    </thead>
                </table>
                <div class="text-danger" v-if="!hasUsers">{{ message }}</div>
            </div> <!-- main & col -->
            <div class="col-4">
                <h2>Add a User</h2>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input v-model="newName" type="text" class="form-control" id="name"
                        placeholder="Enter Name">
                </div>
                <div class="form-group">
                    <label for="userId">UserId</label>
                    <input v-model="newUserId" type="number" class="form-control" id="userId"
                        placeholder="Enter userId">
                </div>
                <div class="form-group">
                    <label for="emailAddress">Email Address</label>
                    <input v-model="newEmailAdress" type="text" class="form-control" id="emailAddress"
                        placeholder="Enter Email Address">
                </div>
                <div class="form-group">
                    <label for="phoneNum">Phone Number</label>
                    <input v-model="newPhoneNum" type="number" class="form-control"
                        id="phoneNum" placeholder="Enter Phone Number">
                </div>
                <button @click="addUser" class="btn btn-primary" v-on:submit.prevent="onSubmit">Add
                    User</button>
                <div class="text-success" v-if="UserAdded">
                    User has been successfully added! <br>
                    <br>
                </div>
                <div class="text-danger" v-if="addUserError!=''">
                    There is a problem adding this new user:<br>
                    {{ addBookError}}
                    <br>
                </div>
            </div> <!-- col -->
        </div> <!-- row -->


    </div> <!-- app: container -->

    <script>
        var get_all_URL = "http://localhost:5001/user";

        const app = Vue.createApp({

            computed: {
                hasUsers() {
                    return this.users.length > 0;
                }
            },
            data() {
                return {
                    userId: "",
                    "users": [],
                    message: "There is a problem retrieving user data, please try again later.",
                    newName: "",
                    newUserId: "",
                    newEmailAdress: "",
                    newPhoneNum: "",
                    userAdded: false,
                    addUserError: "",
                    orderPlaced: false,
                    orderSuccessful: false,
                }
            },
            methods: {
                getAllUsers() {
                    // on Vue instance created, load the book list
                    const response =
                        fetch(get_all_URL)
                            .then(response => response.json())
                            .then(data => {
                                console.log(response);
                                if (data.code === 404) {
                                    // no book in db
                                    this.message = data.message;
                                } else {
                                    this.books = data.data.books;
                                }
                            })
                            .catch(error => {
                                // Errors when calling the service; such as network error, 
                                // service offline, etc
                                console.log(this.message + error);

                            });

                },
                findUser() {
                    console.log(this.userId);
                    const response =
                        fetch(`${get_all_URL}/${this.userId}`)
                            .then(response => response.json())
                            .then(data => {
                                console.log(response);
                                if (data.code === 404) {
                                    // no user in db
                                    this.message = data.message;
                                    this.users = [];
                                } else {
                                    this.users = [data.data];
                                }
                            })
                            .catch(error => {
                                // Errors when calling the service; such as network error, 
                                // service offline, etc
                                console.log(this.message + error);

                            });

                },
                addUser() {
                    // reset data
                    this.userAdded = false;
                    this.addUserError = "";

                    let jsonData = JSON.stringify({
                        name: this.newName,
                        emailAddress: this.newEmailAdress,
                        phoneNum: this.newPhoneNum
                    });

                    fetch(`${get_all_URL}/${this.newUserId}`,
                        {
                            method: "POST",
                            headers: {
                                "Content-type": "application/json"
                            },
                            body: jsonData
                        })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);
                            result = data.data;
                            console.log(result);
                            // 3 cases
                            switch (data.code) {
                                case 201:
                                    this.userAdded = true;

                                    // refresh book list
                                    this.getAllUsers();

                                    // an alternate way is to add this one element into this.books
                                    break;
                                case 400:
                                case 500:
                                    this.addUserError = data.message;
                                    break;
                                default:
                                    throw `${data.code}: ${data.message}`;
                            }
                        })
                },
            },
            created() {
                // on Vue instance created, load the book list
                this.getAllUsers();
            }
        });

        const vm = app.mount('#app');

    </script>

    <!-- Bootstrap Javascript -->
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js'
        integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM'
        crossorigin='anonymous'></script>

</body>

</html>