body{
    background: linear-gradient(to bottom, rgba(7, 45, 81, 1), rgba(207, 223, 238, 1));
    background-repeat: no-repeat; /* Prevents the gradient from repeating */
    background-attachment: fixed; /* Keeps the gradient fixed during scrolling */
    background-size: cover;
}

.transparent-nav {
    width: 100%;
    position: fixed;
    padding: 15px;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    z-index: 1000; /* Ensures the nav stays on top of other content */
    text-align: center;
  }
  
  .transparent-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .transparent-nav ul li {
    display: inline-block;
  }
  
  .transparent-nav ul li a {
    display: block;
    color: rgb(255, 255, 255); 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .transparent-nav ul li h5{
    color: white;
  }
  .transparent-nav ul li a:hover {
    background-color: #ddd; /* Highlight color on hover */
    color: black;
  }
  .thin-line {
    border: none;
    border-top: 1px solid #ccc; /* Thin line with gray color */
    margin: 0; /* Ensures the line spans the full width of the page */
  }
#logo{
    width: 50px;
    height: 50px;
}
.car{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.car p{
    color: white;
    text-align: center;
}
